@use "/src/UI/colors.scss" as color;
@use "/src/UI/elevations.scss" as elevation;
.feed {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 90%;
  position: absolute;
  left: 10%;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color.$lightGrayPrimary;
}
