@use "/src/UI/colors.scss" as Color;
@use "/src/UI/elevations.scss" as *;
.main-container {
  display: grid;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-items: center;
}
.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 50%;
  position: relative;
  /* margin-left: 20%; */
  /* justify-self: center; */
  background-color: #ffffff17;
  z-index: 3;
  margin-left: 40%;
  /* background-color: white; */
  backdrop-filter: blur(3px);
  padding: 1.2em;
  border-radius: 10px;
}
.login-text {
  align-self: flex-start;
  margin-top: 15%;
}
.login-text h1 {
  font-weight: 600;
  font-size: 3em;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.623);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group input {
  width: 95%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 1em;
  font-size: 1.2em;
}
.btn-primary {
  width: 70%;
  height: 2em;
  text-align: center;
  border-radius: 0.4em;
  margin-top: 2em;
  box-shadow: $elevation20;
  font-size: 1.3em;
  font-weight: 600;
}
.btn-primary:hover {
  animation: elevate 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.login-text {
  font-size: 1.3em;
}
.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1em;
  width: 100%;
}
.login-footer-right {
  align-self: flex-end;
}
.login-footer-center {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  justify-self: flex-start;
}
.image img {
  width: 30em;
  height: 30em;
  opacity: 0.8;
  // margin-top: 2em;
}
.login-footer a {
  text-decoration: none;
  color: Color.$bluePrimary;
}
.login-footer h3 {
  font-weight: 100;
  font-size: 1em;
  opacity: 0.8;
}
@keyframes elevate {
  0% {
    box-shadow: $elevation10;
  }
  100% {
    box-shadow: $elevation100;
  }
}
