<section class="container">
  <header>
    <img
      class="img"
      src="{{ post.thumbnail }}"
      alt="image"
      width="200"
      height="200"
    />
  </header>
  <section class="main">
    <div class="top">
      <p>{{ post.itemName }}</p>
      <p>{{ post.category }}</p>
    </div>
    <p class="beg-mid">
      {{ post.description }}
    </p>
    <div class="sub-mid">
      <div class="date">
        <mat-icon> query_builder </mat-icon>
        <p>{{ post.dateTime | date }}</p>
      </div>
      <div class="location">
        <mat-icon> location_on </mat-icon>
        <p>{{ post.city }}</p>
      </div>
    </div>
    <div class="bottom">
      <div class="color">{{ post.color }}</div>
      <div class="brand">{{ post.brand }}</div>
    </div>
  </section>
  <section class="end">
    <button class="btn">View</button>
    <div>
      <p>Posted by</p>
      <p class="name">&nbsp;{{ post.firstName }}</p>
    </div>
  </section>
</section>
