@use "/src/UI/colors.scss" as Color;
@use "/src/UI/elevations.scss" as *;

.container {
  width: 20em;
  background-color: Color.$white;
  box-shadow: $elevation40;
  border-radius: 20px;
  margin: 1em;
}
.img {
  width: 20em;
  object-fit: cover;
  border-radius: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  font-size: small;
  position: relative;
  background-color: Color.$white;
  margin-top: -20px;
}
.main .top {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.main .top p:nth-child(1) {
  font-weight: 600;
  font-size: 1.2em;
}
.main .top p:nth-child(2) {
}
.beg-mid {
  text-align: justify;
  margin: 0.5em;
  height: 2em;
  overflow-y: auto;
}
.sub-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 0.9em;
}
.sub-mid .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.sub-mid .location {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.bottom div {
  font-weight: 600;
}
.end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.end button {
  width: 50%;
  outline: none;
  background-color: Color.$primary;
  border: none;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 20px;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  height: 3em;
  box-shadow: $elevation30;
}
.end div {
  width: 50%;
  display: flex;
  font-size: 0.9em;
  margin: 0px;
  align-self: center;
  padding: 0.5em;
  justify-content: flex-end;
  opacity: 0.6;
}
.end div p {
  font-weight: 100;
}

.end div .name {
  justify-content: flex-end;
  font-weight: 700;
}
