// Colors
$primary: #0165ff;

$redPrimary: #ed556f;
$redSecondary: #da445f;

$orangePrimary: #fc6e51;
$orangeSecondary: #e9573f;

$yellowPrimary: #ffce54;
$yellowSecondary: #fcbb42;

$greenPrimary: #a0d468;
$greenSecondary: #8cc152;

$mintPrimary: #48cfad;
$mintSecondary: #37bc9b;

$lightbluePrimary: #4fc1e9;
$lightblueSecondary: #3bafda;

$bluePrimary: #0d9cff;
$blueSecondary: #0a89ff;

$purplePrimary: #ac92ec;
$purpleSecondary: #967adc;

$pinkPrimary: #ec87c0;
$pinkSecond: #d770ad;

$lightGrayPrePrimary: #f5f7ff;
$lightGrayPrimary: #f5f7fa;
$lightGraySecondary: #e6e9ed;

$GrayPrimary: #ccd0dd;
$GraySecondary: #aab2bd;

$blackPrimary: #656d78;
$blackSecondary: #444955;
$black: #0e0e0e;
$white: #ffffff;
