<section class="header">
  <span *ngIf="this.includeRoute('/feed')" class="material-icons icon">dashboard</span>
  <span *ngIf="!this.includeRoute('/feed')" class="material-icons icon
    outlined">dashboard</span>
  <mat-icon *ngIf="this.includeRoute('/add-post')" class="icon">add_circle</mat-icon>
  <mat-icon *ngIf="!this.includeRoute('/add-post')" class="icon">add_circle_outline</mat-icon>
  <mat-icon *ngIf="this.includeRoute('/profile')" class="icon">person</mat-icon>
  <mat-icon *ngIf="!this.includeRoute('/profile')" class="icon">person_outline</mat-icon>
  <mat-icon *ngIf="this.includeRoute('/chat')" class="icon">
    chat_bubble</mat-icon>
  <mat-icon *ngIf="!this.includeRoute('/chat')" class="icon">
    chat_bubble_outline</mat-icon>
</section>
