@use "/src/UI/colors.scss" as Color;
@use "/src/UI/elevations.scss" as *;
.container {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}
.container p .first {
  font-size: 3em;
  margin-left: 1em;
  margin-right: 0.8em;
  font-weight: 600;
}
.container p .later {
  font-size: 2em;
  color: Color.$blackSecondary;
  font-weight: 600;
}
.text {
}

.icon {
  font-size: 4em;
  height: 1em;
  width: 1em;
  padding: 0em;
  margin: 0em;
  background-color: Color.$lightGrayPrePrimary;
  color: Color.$black;
}
