<div class="main-container">
  <app-back-button></app-back-button>
  <div class="login-container">
    <div class="login-text">
      <h1>Signup</h1>
    </div>
    <div class="login-form">
      <form class="form">
        <div class="form-group">
          <mat-icon>person</mat-icon>
          <input type="text" class="form-control" id="firstName"
            placeholder="First Name">
        </div>
        <div class="form-group">
          <mat-icon>person</mat-icon>
          <input type="text" class="form-control" id="lastName"
            placeholder="Last Name">
        </div>
        <div class="form-group">
          <mat-icon>alternate_email</mat-icon>
          <input type="email" class="form-control" id="email"
            placeholder="Email">
        </div>
        <div class="form-group">
          <mat-icon>lock</mat-icon>
          <input type="{{!showPassword?'password':''}}" class="form-control"
            id="password"
            placeholder="Password">
          <mat-icon class="password-icon"
            (click)="showPassword=!showPassword">{{!showPassword?'visibility':'visibility_off'}}</mat-icon>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>

      <div class="login-footer">

        <div class="login-footer-center">
          <h3>Already have an account</h3>
          <a href="#" routerLink="/auth/login" routerLinkActive="active"
            ariaCurrentWhenActive="page">
            &nbsp;
            login</a>
        </div>
      </div>
    </div>

  </div>
  <div class="image">
    <img alt="image"
      src="assets/images/object1.png" />
  </div>
</div>
