@use "/src/UI/colors.scss" as Color;
@use "/src/UI/elevations.scss" as *;
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 40%;
  margin-top: 10%;
  box-shadow: $elevation20;
  border-radius: 0.5em;
  padding: 3em;
}
.card-body {
  margin-top: 1em;
}
.card-body label {
  font-weight: 0;
  opacity: 0.5;
}
.card-header h1 {
  font-weight: 600;
}
.page-header {
  align-self: start;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.623);
}
.form-group input {
  width: 100%;
  margin-left: 1em;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 1em;
  font-size: 1.2em;
}

.btn-primary {
  width: 70%;
  height: 2em;
  text-align: center;
  border-radius: 0.4em;
  margin-top: 2em;
  box-shadow: $elevation20;
  font-size: 1.3em;
  font-weight: 600;
}
.btn-primary:hover {
  animation: elevate 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.image {
  margin-top: 1em;
  width: min(100%, 25em);
  height: min(100%, 25em);
  position: absolute;
  right: 10%;
  z-index: -1;
}
.image img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  padding: 0%;
  margin: 0%;
}
@keyframes elevate {
  0% {
    box-shadow: $elevation10;
  }
  100% {
    box-shadow: $elevation100;
  }
}
