<div class="main-container">
  <section class="link-sent-container" *ngIf="(this.isResetPasswordLinkSent |
    async); else
    forgotPasswordFormTemp">
    <section class="link-sent-box">
      <label>
        We've sent you an email with a link to reset your password.
      </label>
    </section>
    <button class="btn btn-primary" (click)="onReset()">Resend Email</button>
    <figure class="image">
      <img alt="image"
        src="assets/images/character3.png" />
    </figure>
  </section>
  <ng-template #forgotPasswordFormTemp>
    <div class="page-header"><app-back-button></app-back-button></div>
    <section class="card">
      <header class="card-header">
        <h1>Forgot Password ?</h1>
      </header>
      <footer class="card-body">
        <label>
          Don't worry, Please enter your Email
        </label>
        <form class="form" [formGroup]="this.forgotPasswordForm"
          (ngSubmit)="onSubmit()">
          <section class="form-group">
            <mat-icon>alternate_email</mat-icon>
            <input type="email" class="form-control" id="email"
              placeholder="Email"
              formControlName="email">
          </section>

          <button type="submit" class="btn btn-primary">Get Email</button>
        </form>
      </footer>
    </section>
    <figure class="image">
      <img alt="image"
        src="assets/images/character2.png" />
    </figure>
  </ng-template>

</div>
