/* You can add global styles to this file, and also import other style files */
@use "./UI/colors.scss" as *;
@use "./UI/elevations.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;300&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Palanquin Dark", sans-serif;
}
ul {
  padding: 0;
}
input {
  -webkit-background-clip: text !important;
}

.btn {
  background-color: $primary;
  color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.password-icon {
  cursor: pointer;
}
.opacity-50 {
  opacity: 0.5;
  cursor: default;
}
.opacity-100 {
  opacity: 1;
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 10px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 20px 3px #6a636336;
  /* color: #000000; */
  font-weight: 700;
  backdrop-filter: blur(3px);
}
.toast-success {
  background-color: #4caf50;
  color: #ffffff;
}
.toast-error {
  background-color: #d32f2f;
  color: #ffffff;
}
.toast-info {
  background-color: #2196f3;
  color: #ffffff;
}
.none-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:active {
  animation: press 0.2s 1 linear;
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
/* width */
::-webkit-scrollbar {
  width: 0.1em;
}

/* Track */
::-webkit-scrollbar-track {
  //  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #656d78;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: white;
}
