/* You can add global styles to this file, and also import other style files */
@use "./UI/colors.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Palanquin Dark", sans-serif;
}

.btn {
  background-color: $primary;
  color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.password-icon {
  cursor: pointer;
}
.opacity-50 {
  opacity: 0.5;
  cursor: default;
}
.opacity-100 {
  opacity: 1;
}
