@use "/src/UI/colors.scss" as color;
@use "/src/UI/elevations.scss" as elevation;
.profile {
  background-color: color.$lightGrayPrimary;
  height: 100%;
  width: 88%;
  position: absolute;
  left: 12%;
}
